<div class="contact">
  <h3>The Way Out is a blog about art and artists we love written by Paul and Molly.</h3>

  <p>Questions and comments can be sent <a href="mailto:sofarout@wayout.com">here</a>.</p>
</div>


<div class="side-bar">
  <ul>
  {{#each model2.posts as |post|}}
    {{#link-to 'post' post.id}}<li>{{side-bar post=post }} </li>{{/link-to}}
  {{/each}}
  </ul>
  <ul class="info-links">
    <li>{{#link-to 'about'}}about{{/link-to}}</li>
    <li>{{#link-to 'contact'}}contact us!{{/link-to}}</li>
    <li>{{#link-to 'index'}}home{{/link-to}}</li>
  </ul>
</div>
