<ul class="post-item">
{{#each model.posts as |post|}}
  <li>{{post-item post=post }}</li>
{{/each}}
</ul>

<div class="side-bar">
  <ul>
  {{#each model.posts as |post|}}
    {{#link-to 'post' post.id}}<li>{{side-bar post=post }} </li>{{/link-to}}
  {{/each}}
  </ul>
  <ul class="info-links">
    <li>{{#link-to 'about'}}about{{/link-to}}</li>
    <li>{{#link-to 'contact'}}contact us!{{/link-to}}</li>
    <li>{{#link-to 'index'}}home{{/link-to}}</li>
  </ul>
</div>
