<ul class="post-item">
{{#each model.posts as |post|}}
  <li>{{post-item post=post }}</li>
{{/each}}
</ul>

<div class="side-bar">
  <ul>
  {{#each model.posts as |post|}}
    <li>{{side-bar post=post }}</li>
  {{/each}}
  </ul>
</div>
