/* Base Styles -------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background: #d5995d;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 600px;
  height: auto;
  border-radius: 5px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 15px;
  list-style: none;
}

h1 {
  text-align: center;
  font-family: 'Plaster';
  font-size: 9em!important;
  color: white!important;
  text-shadow: 20px 20px black;
  &:hover {
    text-decoration: none;
    color: lighten(#add8e6, 12%)!important;
  }
}

h4, h5 {
  font-weight: bold;
}

p {
  font-weight: 300;
  max-width: 600px;
}

a {
  color: maroon;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: red;
  }
}

h3 {
  font-weight: bold;
}

.new-post, .update-post {
  font-family: 'Plaster';
  color: white!important;
  text-shadow: 20px 20px black;
  margin-bottom: 30px;
}

label {
  color: black;
}

.comment-list {
  margin-top: 50px;
  ul {
    list-style: none;
  }
}


/* Pseudo-classes ------------------ */
