.side-bar {
  background: lighten(#add8e6, 12%);
  width: 300px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

ul.post-item {
  width: 75%;
}
